[Unit]
Description=Mako notification daemon
Documentation=https://github.com/emersion/mako
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=mako
Restart=on-failure

[Install]
WantedBy=graphical-session.target
