[Unit]
Description=Swaybg wallpaper daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=swaybg -i %h/.config/hypr/wallpaper -m fill
Restart=on-failure

[Install]
WantedBy=graphical-session.target
