[Unit]
Description=Waybar status bar
Documentation=https://github.com/Alexays/Waybar
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=waybar
ExecReload=kill -SIGUSR2 $MAINPID
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
